<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>六大財務指標程式選股</title>
	
	
</head>
<body>
	<div id="warp">

		<div class="headings">
		  <h2><FONT SIZE="6">☆機器和程式可以做的，我們人類不需要親自做，大量節省您寶貴的時間，專注在更重要的分析上☆</FONT></h2>
		</div>  

<table align="center">
    <tr>
        <td align="center"><a href="/stock6x/">
            <FONT SIZE="7">六大指標選股</FONT></a></td>
        </tr>


        <tr>
        <td align="center"><a href="/stockPERsegx/">
            <FONT SIZE="7">本益比區間選股</FONT></a></td>
    </tr>
</table>

<br><br><br>





<br><br><br>



<br><br>

		<div id="footer">&copy; Copyright 2020.7 ~ NOW 財務指標程式選股</div>
	</div>
</body>
</html>
